{{- if .Values.serviceAccount.rbac }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "landingpage.fullname" . }}
  labels:
    {{- include "landingpage.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - list
  - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - list
  - read
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "landingpage.fullname" . }}
  labels:
    {{- include "landingpage.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "landingpage.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "landingpage.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
